html,body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #fdfdfd;
  color: #333;
   height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

/* Headings */
h1, h2, h3 {
  font-weight: bold;
  margin-top: 0;
}

