html,body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: #fdfdfd;
  color: #333;
   height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

/* Headings */
h1, h2, h3 {
  font-weight: bold;
  margin-top: 0;
}
/* Links */
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: grey;
}
/*Header & Navigation*/
header {
  background: #333;
  color: #fff;
  padding: 10px 20px;
}

header h1 {
  margin: 0;
  display: inline-block;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.nav-links li {
  display: inline;
  margin: 0 10px;
}

.nav-links a {
  color: #fff;
  font-weight: bold;
}
/* Home*/
.profile {
  text-align: center;
  padding: 50px 20px;
  background: #f4f4f4;
}

.profile img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile img:hover {
  transform: scale(1.1);
}
/* About */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

ul {
  list-style: disc;
  margin: 10px 0 20px 30px;
}

ol {
  list-style: decimal;
  margin: 10px 0 20px 30px;
}

